html,
body,
#root {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100%;

  background: #070b11;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}